@import "./style-constants.scss";

body {
  background: transparent;
  color: inherit;

  .bodyTypeContainer {
    padding-right: toRem((20));
    > div {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
    .bodyType {
      width: fit-content;
      min-width: toRem(300);
      max-width: toRem(500);
      display: inline-block;

      &:focus {
        outline-width: toRem(1);
        outline-color: $dark-gray;
        outline-offset: toRem(4);
        border-radius: toRem(2);
      }
    }
  }

  .errorBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: toRem(24);
    font-weight: 700;
    padding: toRem(20);
    margin: 0;
    color: $error-text;
    background: $light-gray;
  }
}
